<!DOCTYPE html>

<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="styles/style.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Salsa&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
      <title>TechTalesHub</title>
   </head>
   <body>
      <div id = "header"> 
         <h1 class = "title">Tech Tales Hub</h1>
         <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Trending</a></li>
            <li><a href="">Tech</a></li>
            <li><a href="">Sport</a></li>
            <li><a href="">Food</a></li>
            <li><a href="">Movie</a></li>
         </ul>
         <div>
            <button class="create">Create</button>
         </div>
      </div>
      <div id = "body">
         <div class = "contents">
            <!-- <div class ="create-field">
               <textarea name="content-title" id="content-title" cols="130" rows="1" placeholder="Title"></textarea>
               <textarea name="content-body" id="content-body" cols="130" rows="10" placeholder="Your content here."></textarea>
               <button class = "create">Create</button>
            </div> -->
            <h2>Trending</h2>
            <div class = "content">
               <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, corrupti perferendis deleniti quod fugiat aut! Nam dolore inventore, molestiae id delectus, veritatis repellendus officiis corporis labore voluptates eos! Harum, corrupti.</h3>
            </div>
            <hr>
            <div class = "content">
               <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, corrupti perferendis deleniti quod fugiat aut! Nam dolore inventore, molestiae id delectus, veritatis repellendus officiis corporis labore voluptates eos! Harum, corrupti.</h3>
            </div>
         </div>
      </div>
      
   </body>
</html>